.navBar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 85px;
   background-color: var(--navBackgroundColor);
   box-shadow: var(--navShadow);
   z-index: 1000;
   padding: 0 12px;
}

.left {
   display: flex;
   align-items: center;
}

.homeLink {
   text-decoration: none;
   color: var(--primaryText);
   font-size: 1.4rem;
   letter-spacing: 2px;
}

.homeLink span {
   color: var(--linkHover);
}

.adminLink {
   display: none;
}

.middle {
   width: 55%;
}

.right {
   display: flex;
   align-items: center;
}

.cartLink {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
}

.cart {
   width: 55px;
   height: 55px;
   object-fit: cover;
}

.itemsCount {
   position: absolute;
   top: -10px;
   font-size: 1.2rem;
   color: #007bff;
   font-weight: bold;
}


@media (min-width: 768px) {
   .navBar {
      height: 95px;
   }

   .middle {
      width: 50%;
   }

   .cart {
      width: 70px;
      height: 70px;
   }

   .itemsCount {
      font-size: 1.5rem;
   }
}

@media (min-width: 1024px) {
   .navBar {
      height: 112px;
      padding: 0;
   }

   .left {
      margin-left: 15px;
   }

   .homeLink {
      font-size: 2rem;
   }

   .middle {
      width: 50%;
   }

   .adminLink {
      margin-left: 15px;
      text-decoration: none;
      color: white;
      font-size: 1.7rem;
      background-color: black;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 40px;
   }

   .right {
      margin-right: 15px;
   }

   .cartLink {
      flex-direction: column;
   }

   .cart {
      width: 90px;
      height: 90px;
   }

   .itemsCount {
      position: absolute;
      top: -10px;
      font-size: 2rem;
   }
}
