.container{
   flex: 1 !important;
   min-height: 0;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 25px;
   align-items: center;
   width: 90%;
   margin: 200px auto;
}

.itemCard{
   background-color: var(--cardBackgroundColor);
   width: 100%;
   max-width: 260px;
   height: 382px;
   border: 1px solid var(--cardShadow);
   box-shadow: var(--navShadow);
   border-radius: 7px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   text-align: center;
   cursor: pointer;
   margin: 0 auto;

   animation: identifier linear forwards;
   animation-timeline: view();
   animation-range: entry 0%;
}

@keyframes identifier{
   from{
      opacity: 0;
      transform: translateY(40px) scale(0.1);
   }
   to{
      opacity: 1;
      transform: translateY(0) scale(1);
   }
}

.itemPic{
   border-top-right-radius: 7px;
   border-top-left-radius: 7px;
   width: 100%;
   height: 200px;
   object-fit: cover;
}

.itemName{
   width: 95%;
   margin: 5px auto 0;
   font-size: 1.05rem;
}

.itemPrice{
   font-size: 1.05rem;
   margin: 5px 0 0;
}

/* ✅ BUTTON – EXACT SAME STYLES */
.addBtn{
   margin: 5px 0 15px;
   border: none;
   background-color: var(--buttonBackgroundColor);
   color: var(--buttonTextColor);
   border-radius: 40px;
   width: 85%;
   height: 40px;
   cursor: pointer;
   z-index: 2;
}

.addBtn:hover{
   background-color: var(--buttonHoverBackgroundColor);
}

.addBtn:active{
   background-color: var(--buttonActiveBackgroundColor);
}

/* Loader */
.loader{
   width: 100%;
   height: 100%;
   right: 40px;
   top: -30px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
}

/* No results */
.noResultsImg{
   width: 280px;
   height: 280px;
   top: 100px;
   align-self: center;
   position: absolute;
   background-color: transparent !important;
}

/* Alert */
.alertContainer{
   display: flex;
   justify-content: center;
   width: 100%;
   position: fixed;
   top: 0px;
   z-index: 100;
   transition: all ease-in-out 0.25s;
}

.alertContainer.showen{
   top: 130px;
}

@media (min-width: 600px){
   .container{
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      width: 90%;
   }

   .itemCard{
      max-width: 240px;
   }

   .itemPic{
      height: 210px;
   }
}

@media (min-width: 900px){
   .container{
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
   }

   .itemCard{
      max-width: 225px;
   }

   .itemPic{
      height: 225px;
   }
}

@media (min-width: 1200px){
   .container{
      grid-template-columns: repeat(4, 1fr);
      gap: 40px 80px;
      width: 90%;
   }
}

