.container{
   position: fixed;
   bottom: 15px;
   right: -100px;
   z-index: 1000;
   width: 60px !important;
   height: 60px !important;
   background-color: #CBD5E1 !important;
   padding: 10px;
   cursor: pointer;
   border-radius: 50%;
   border: none;
   transition: right ease-in-out 0.15s;
}

.container.visible{
   right: 15px !important;
}

img{
   width: 40px;
   height: 40px;
   object-fit: contain;
}