.footer {
   width: 100%;
   background-color: var(--navBackgroundColor);
   box-shadow: var(--navShadow);
   padding: 25px 20px;
}

.infoFooter {
   display: flex;
   flex-direction: column;
   gap: 25px;
}

.infoFooter div {
   display: flex;
   flex-direction: column;
}

.infoFooter div a {
   text-decoration: none;
   color: var(--primaryText);
   display: flex;
   align-items: center;
   gap: 8px;
   margin-top: 10px;
}

.left p {
   margin-top: 8px;
}

.right {
   display: flex;
   flex-direction: column;
   gap: 25px;
}

.socialsContainer {
   display: flex;
   flex-direction: column;
}

.socialsContainer a {
   margin-top: 5px;
}

.pagesContainer {
   display: flex;
   flex-direction: column;
   margin-left: 0;
}

.igIcon {
   width: 30px;
   height: 30px;
}

.fbIcon {
   width: 35px;
   height: 35px;
}

.infoFooter div a:hover {
   color: blue;
}

@media (min-width: 768px) {
   .infoFooter {
      flex-direction: row;
      justify-content: center;
      align-items: baseline;
   }

   .left {
      width: 50%;
   }

   .right {
      flex-direction: row;
      align-items: baseline;
   }

   .pagesContainer {
      margin-left: 40px;
   }
}

@media (min-width: 1024px) {
   .footer {
      height: 170px;
      padding: 0;
   }

   .infoFooter {
      padding-top: 25px;
      flex-direction: row;
      align-items: baseline;
      justify-content: center;
   }

   .left {
      width: 50%;
   }

   .right {
      flex-direction: row !important;
      align-items: baseline;
      justify-content: center;
   }

   .pagesContainer {
      margin-left: 100px;
   }

   .socialsContainer {
      align-items: center;
   }

   .socialsContainer a {
      margin-top: 0 !important;
   }
}
